# VITE_CHECKSOPS_API_URL=https://kiqojucc02.execute-api.us-east-1.amazonaws.com/prep
# VITE_AUTH_PROVIDER=cognito
# VITE_APP_URL=https://checksops.com
# VITE_AWS_REGION=us-east-1
# VITE_COGNITO_USER_POOL_ID=us-east-1_h00WorYMT
# VITE_COGNITO_USER_POOL_CLIENT_ID=3ja9fqaq2fjkv3i6up2varcqpe
